:root {
   /*theme 1*/

   /*background*/
   --bg-t1: hsl(222, 26%, 31%);
   --bg-keyboard-t1: hsl(223, 31%, 20%);
   --bg-screen-t1: hsl(224, 36%, 15%);

   /*keys*/
   --bg-key-t1: hsl(30, 25%, 89%);
   --key-shadow-t1: hsl(28, 16%, 65%);
   --blue-t1: hsl(225, 21%, 49%);
   --blue-key-shadow-t1: hsl(224, 28%, 35%);
   --red-t1: hsl(6, 63%, 50%);
   --red-key-shadow-t1: hsl(6, 70%, 34%);

   /*txt*/
   --txt-color: hsl(221, 14%, 31%);
}